<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
		</head>
		<body>
			<nav>
	    		<p>
	        	[ <a href="/">Home</a> ]&nbsp;&nbsp;
	        	[ <a href="/blog">Blog</a> ]
	    		</p>
			</nav>
			<div class="title">
				<h2>{{ page.title }}</h2>
			</div><!-- title -->
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mr_vanhorn@yahoo.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
