<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<img src="/graphics/mrv-logo-50x50.png" style="width:50px;height:50px;float:left;margin-right:10px" align="middle" alt="">
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="title">
				<H1>{{ page.title }}</H1>
			</div><!-- title -->
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mr_vanhorn@yahoo.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
