---
layout: default
---
{% include navbar.html %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

<p class="meta">{{ page.date | date_to_string }}</p>

<div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

<p>&nbsp;</p>

<div class="post">
  {{ content }}
</div>

<p>Please leave a comment. A free <a href="https://github.com/">GitHub account</a> is required.</p>

<script src="https://utteranc.es/client.js"
        repo="mrvanhorn/mrvanhorn.github.io"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
