---
layout: default
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>

<p><small>
{% if page.last_modified %}
    Last updated: {{ page.last_modified_at | date: date_to_long_string }}
{% else %}
    Last updated: {{ page.date | date: date_to_long_string  }}
{% endif %}
</small>
</p>

<div class="notecomments">
  {% include disqus.html %}	 
</div>
