---
layout: default
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

<p class="meta">{{ page.date | date_to_string }}</p>

<div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

<div class="post">
  {{ content }}
</div>

<p><small>
{% if page.last_modified %}
    Last updated: {{ page.last_modified_at | date: date_to_long_string }}
{% else %}
    Last updated: {{ page.date | date: date_to_long_string  }}
{% endif %}
</small>
</p>

<div class="notecomments">
  {% include disqus.html %}	 
</div>
